<!-- <div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faLocation"></fa-icon>
      </div>
      <div class="value">
        <div class="top">07</div>
        <div class="bottom">Campaigns</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faBoxes"></fa-icon>
      </div>
      <div class="value">
        <div class="top">84</div>
        <div class="bottom">Issues</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">28</div>
        <div class="bottom">Performance</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faShop"></fa-icon>
      </div>
      <div class="value">
        <div class="top">95</div>
        <div class="bottom">Devices (ATM)</div>
      </div>
    </div>
  </div> -->
  <!-- <div class="row">
  <div class="col-xs"> -->
  <mat-card class="example-card" class="mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>
          <ng-content select="[title]"></ng-content>
        </mat-card-title>
        <mat-card-subtitle>
          <ng-content select="[subtitle]"></ng-content>
        </mat-card-subtitle>
        <ng-content select="[icon]"></ng-content>
    </mat-card-header>
  </mat-card>
<!-- </div> -->
  <!-- Campaigns -->
  <!-- <div class="col-xs">

  <mat-card class="example-card" class="mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>87</mat-card-title>
        <mat-card-subtitle>Issues</mat-card-subtitle>
        <fa-icon fa-2x  [icon]="faBoxes" size="3x"></fa-icon>
    </mat-card-header>
  </mat-card>
</div> -->
  <!-- Issues -->
  <!-- <div class="col-xs">
  <mat-card class="example-card" class="mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>28</mat-card-title>
        <mat-card-subtitle>Performance</mat-card-subtitle>
        <fa-icon [icon]="faMoneyBill" size="3x"></fa-icon>
    </mat-card-header>
  </mat-card>
</div> -->
  <!-- Performance -->
  <!-- <div class="col-xs">
  <mat-card class="example-card" class="mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>95</mat-card-title>
        <mat-card-subtitle>Devices (ATM)</mat-card-subtitle>
        <fa-icon [icon]="faShop" size="3x"></fa-icon>
    </mat-card-header>
  </mat-card>
</div>
</div>
 -->
