
<div class="top-section">
  <div class="row">
    <div class="col-xs">
      <app-top-widgets>
        <ng-container title>07</ng-container>
        <ng-container subtitle>Campaigns</ng-container>
        <ng-container icon>
          <fa-icon fa-2x [icon]="faLocation" size="3x"></fa-icon>
        </ng-container>
      </app-top-widgets>
    </div>
    <div class="col-xs">
      <app-top-widgets>
        <ng-container title>87</ng-container>
        <ng-container subtitle>Issues</ng-container>
        <ng-container icon>
          <fa-icon fa-2x  [icon]="faBoxes" size="3x"></fa-icon>
        </ng-container>
      </app-top-widgets>
    </div>
    <div class="col-xs">
      <app-top-widgets>
        <ng-container title>28</ng-container>
        <ng-container subtitle>Performance</ng-container>
        <ng-container icon>
          <fa-icon [icon]="faMoneyBill" size="3x"></fa-icon>
        </ng-container>
      </app-top-widgets>
    </div>
    <div class="col-xs">
      <app-top-widgets>
        <ng-container title>95</ng-container>
        <ng-container subtitle>Devices (ATM)</ng-container>
        <ng-container icon>
          <fa-icon [icon]="faShop" size="3x"></fa-icon>
        </ng-container>
      </app-top-widgets>
    </div>
  </div>
    <!-- <app-top-widgets></app-top-widgets> -->
</div>
<div class="top-section">
  <div class="row">
    <div class="col-xs-8">
      <app-traceability></app-traceability>
    </div>
    <div class="col-xs-4">
      <app-performance></app-performance>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  <app-marketing-schedule></app-marketing-schedule>
</div>
</div>